version: "3.8"

services:
  redis:
    image: redis
    restart: unless-stopped

  backend:
    build: .
    restart: unless-stopped
    depends_on:
      - redis
    expose:
      - "3000"

  nginx:
    image: nginx
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
    depends_on:
      - backend
